body {
  background-color: #f9f9f3;
  font-family: "Droid Serif", serif;
  color: #6e6b68;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #373737; }

a {
  color: #0099ff; }
  a:hover, a:focus {
    color: #007acc;
    text-decoration: none; }
  a:focus {
    outline: none; }

.row-1, .row-2, .row-4 {
  padding-bottom: 6rem; }
  .row-1 h2, .row-2 h2, .row-4 h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 4.8rem; }
    @media (max-width: 992px) and (min-width: 768px) {
      .row-1 h2, .row-2 h2, .row-4 h2 {
        margin-bottom: 2.5rem; } }
    @media (max-width: 768px) {
      .row-1 h2, .row-2 h2, .row-4 h2 {
        margin-bottom: 2rem; } }
    @media (max-width: 500px) {
      .row-1 h2, .row-2 h2, .row-4 h2 {
        text-align: center; } }

.row-3 {
  margin-bottom: 6rem; }

.main-nav {
  background-color: #0f223d;
  font: 1.2rem "Montserrat", sans-serif;
  border-radius: 0; }
  @media (max-width: 992px) and (min-width: 768px) {
    .main-nav .container {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px; } }
  .main-nav .navbar-header button.navbar-toggle {
    color: #ffd200; }
  .main-nav p {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700; }
    .main-nav p img {
      padding-right: 1rem; }
  .main-nav .navbar-brand, .main-nav .navbar-nav {
    color: #ffd200;
    text-transform: uppercase; }
    .main-nav .navbar-brand li, .main-nav .navbar-nav li {
      border-right: 1px solid #050b14; }
      @media (max-width: 768px) {
        .main-nav .navbar-brand li, .main-nav .navbar-nav li {
          border-right: none; } }
    .main-nav .navbar-brand a, .main-nav .navbar-nav a {
      color: inherit; }
      .main-nav .navbar-brand a .fa, .main-nav .navbar-nav a .fa {
        padding-left: 1.2rem; }
      .main-nav .navbar-brand a:hover, .main-nav .navbar-brand a:focus, .main-nav .navbar-nav a:hover, .main-nav .navbar-nav a:focus {
        background-color: transparent; }
  .main-nav .navbar-brand {
    border-left: 1px solid #050b14;
    border-right: 1px solid #050b14;
    margin-left: 0 !important; }
    @media (max-width: 992px) and (min-width: 768px) {
      .main-nav .navbar-brand {
        margin-left: -7px !important; } }
    @media (max-width: 768px) {
      .main-nav .navbar-brand {
        border: none; } }
  .main-nav .navbar-text {
    margin-bottom: 0; }

.row-footer {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: #191919; }
  .row-footer .footer-logo img {
    width: 100%; }
  .row-footer ul.address {
    font: 1.3rem "Montserrat", sans-serif;
    text-align: center;
    margin-top: 1rem;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style: none; }
    @media (max-width: 500px) {
      .row-footer ul.address {
        padding-left: 0; } }
  .row-footer .social-links {
    margin-top: 1rem;
    text-align: center; }
    .row-footer .social-links a {
      color: #6e6b68; }
      .row-footer .social-links a:hover, .row-footer .social-links a:focus {
        color: #54524f; }
      .row-footer .social-links a .fa-inverse {
        color: #191919; }
  @media (max-width: 500px) {
    .row-footer .col-sm-6 {
      padding-left: 0;
      padding-right: 0; } }

.row-copyright {
  background-color: #0f0f0f; }
  .row-copyright h5 {
    font: 11px "Lato", sans-serif; }

header {
  background-color: #430909; }
  header .logo-wrap {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem; }
    header .logo-wrap img {
      display: block; }
      @media (max-width: 1200px) and (min-width: 992px) {
        header .logo-wrap img {
          width: 100%; } }
      @media (max-width: 992px) and (min-width: 768px) {
        header .logo-wrap img {
          margin: auto; } }
      @media (max-width: 500px) {
        header .logo-wrap img {
          width: 100%; } }
  header .subnav-wrap {
    text-align: right; }
    header .subnav-wrap section {
      text-align: left;
      font: 12px "Lato", sans-serif;
      background-color: #4f0f0f;
      display: inline-block;
      padding: 2.4rem 2rem 2.5rem;
      min-width: 140px; }
      header .subnav-wrap section h4 {
        font-size: 1.5rem;
        color: #515151;
        text-transform: lowercase;
        margin-bottom: 2rem; }
      header .subnav-wrap section ul li a {
        color: #6e6b68;
        padding: 0; }
        header .subnav-wrap section ul li a:hover, header .subnav-wrap section ul li a:focus {
          color: #0099ff;
          background-color: transparent; }
      header .subnav-wrap section:hover, header .subnav-wrap section:focus {
        padding-top: 2rem;
        border-top: 4px solid #0099ff; }
        header .subnav-wrap section:hover h4, header .subnav-wrap section:focus h4 {
          color: #0099ff; }
      @media (max-width: 1200px) and (min-width: 992px) {
        header .subnav-wrap section {
          min-width: auto; } }
    @media (max-width: 992px) and (min-width: 768px) {
      header .subnav-wrap {
        text-align: center; } }
