// FONTS
$Droid-Serif:			'Droid Serif', serif;
$Montserrat:			'Montserrat', sans-serif;
$Lato:						'Lato', sans-serif;
$extraLight:		200;
$light:					300;
$normal:				400;
$semiBold:			600;
$bold:					700;

// COLORS
$white:					#FFF;

$bgWhite:				rgb(249,249,243);
$bgGray:				rgb(240,240,236);
$bgBorder:			rgb(230,230,225);

$lightGray:			rgb(110,107,104);
$gray:					rgb(55,55,55);
$darkGray:			rgb(46,46,46);
$grayOpaque:		rgba(25,25,25,0.8);

$darkBlue:			rgb(15,34,61);
$skyBlue:				rgb(0,153,255);

$yellow:				rgb(255,210,0);
$yellowOpaque:	rgba(255,210,0,0.8);

$maroon:				rgb(79,15,15);
$darkMaroon:		rgb(67,9,9);

